.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-family: 'Fira Sans', sans-serif;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
}

.buttons {
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}


.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
         url('/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
  }